 /* обнуление  */
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  list-style-type: none;
  border: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

