.wrapper-page{
    width: 100vw;
    height: 100vh;
    background: rgb(64,64,64);
    background: radial-gradient(circle, rgba(64,64,64,1) 0%, rgba(0,0,0,1) 100%);
    /* padding: 1.5% 2%; */
    display: flex;
    justify-content: center;
    border: 1px solid white;
    font-size: 14rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 0.15rem;
     /* overflow: hidden; */
    
}
.wrapper-memeslider{
     width: 90vw;
    height: 90vh; 
    border: 1px solid white;
    margin: auto auto;

}
.slider-input{
    display: none;
    border: 1px solid white;
}
.wrapper-slider{
    /* width: 100%; */
    border-radius: 0.7%;
    border: 1px solid red;
    display: flex;
    display: flex;
    /* gap: 2%; */
    transition: transform 0.5s;
     overflow-x: hidden;
    
}
.slide{
    display: flex;
    width: 90vw;
    height: 70vh;
    border-radius: 0.7%;
    /* overflow: hidden; */
    /* opacity: 0; */
    
    /*убрала пока св-во флексшринк*/
    flex-shrink: 0;
    /* visibility: hidden; */

    /* border: 1px solid white; */
    /* transition: all 0.5s ease-in-out; */
    



    
}

.slide.one, .slide.two, .slide.three, .slide.four, .slide.five{
    opacity: 0;
    animation: fadeOut 0.5s ease-in-out;
    /* transition: opacity 0.5s ease-in-out; */
}

.text-slide.one, .text-slide.two, .text-slide.three, .text-slide.four, .text-slide.five{
    opacity: 0;
    animation: fadeOut 0.5s ease-in-out;
    /* transition: opacity 0.5s ease-in-out; */
}

.slide img{
    width: auto;
    height: auto;
    border-radius: 0.7%;
    margin: 0 auto;
}
.wrapper-text-labels{
    border: 1px solid white;
    margin-top: 2%;
    display: flex;
    width: 90vw;
    height: 16vh;
    
}
.wrapper-text{
    border: 1px solid white;
    width: 67.5vw;
    height: 16vh;
    display: flex;
     overflow-x: hidden;
}
.text-carusel{
    display: flex;
    /* width:337.5vw; */
    transition: all 0.5s ease-in-out;
    background-color: blueviolet;
    border: 1px solid aqua;
    
}
.wrapper-labels{
    border: 1px solid white;
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    
} 
.text-slide{
    color: white;
    font-size: 2rem;
    width: 67.5vw;
    
    /* opacity: 0; */
}


/*для картинок при нажатии кнопок . не работают эти стили */
#slide1:checked ~ .wrapper-slider >.slide.one{
    animation: fadeIn 0.5s ease-in-out forwards;
    transform: translateX(0);
 }
 #slide2:checked ~ .wrapper-slider >.slide.two{
    animation: fadeIn 0.5s ease-in-out forwards;
    transform: translateX(-100%);
  }
  #slide3:checked ~ .wrapper-slider >.slide.three{
    animation: fadeIn 0.7s ease-in-out forwards; 
    transform: translateX(-200%);
  }
  #slide4:checked ~ .wrapper-slider >.slide.four{
    animation: fadeIn 0.8s ease-in-out forwards; 
    transform: translateX(-300%);
  }
  #slide5:checked ~ .wrapper-slider >.slide.five{
    animation: fadeIn 0.9s ease-in-out forwards;
    transform: translateX(-400%);
  }



  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  /* .slide {
    animation: fadeIn 0.5s ease-in-out;
  }
  */
 



/*для текста при нажатии кнопок не работают для текста*/
#slide1:checked ~ .wrapper-text-labels >.wrapper-text > .text-carusel > .text-slide.one{
   transform: translateX(0);
   animation: fadeIn 1s ease-in-out forwards;
}
#slide2:checked ~ .wrapper-text-labels >.wrapper-text > .text-carusel  >  .text-slide.two{
    transform: translateX(-100%);
    animation: fadeIn 1s ease-in-out forwards;
 }
 #slide3:checked ~ .wrapper-text-labels >.wrapper-text > .text-carusel  > .text-slide.three{
    transform: translateX(-200%);
    animation: fadeIn 1s ease-in-out forwards;
 }
 #slide4:checked ~ .wrapper-text-labels >.wrapper-text > .text-carusel  > .text-slide.four{
    transform: translateX(-300%);
    animation: fadeIn 1s ease-in-out forwards;
 }
 #slide5:checked ~ .wrapper-text-labels >.wrapper-text > .text-carusel  > .text-slide.five{
    transform: translateX(-400%);
    animation: fadeIn 1s ease-in-out forwards;
 }


 /*кнопки и состояния*/
 .labels{
    background-color: yellow;
    /* width: 30%;
    height: 30%; */
    display: flex;
    gap: 1rem;
    padding-top: 2%;
    padding-right: 3%;
}
.labels label{
    padding: 2rem 1.5rem;
    cursor: pointer;
    width: 5rem;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.wrapper-circle{
    width: 3.2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.25rem solid #17a0b3;
    background-color: #17a0b3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    opacity: 0;
    background-color: black;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
}
.labels label:hover .wrapper-circle{
    background-color: white;
    border: 0.25rem solid white;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.labels label:active .wrapper-circle{
    border: 0.25rem solid white;
    transition: all 0.5s ease-in-out;
}
.labels label:active .circle{
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

/*НЕ СРАБАТЫВАЕТ СОСТОЯНИЕ CHECKED*/
.slider-input:checked + .wrapper-circle .circle {
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.slider-input:checked ~ .wrapper-circle {
    background-color: transparent;
    border: 0.25rem solid #17a0b3;
 }
 
  .slider-input:checked ~ .wrapper-circle .circle {
    opacity: 1;
    transition: all 0.3s ease-in-out;
 }
